/* font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.icon {
    height: 1.5rem;
}

.dash-icon {
    height: 3rem;
}

.profile-pic {
    height: 2.5rem;
}

/* project container */
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main-content';
}

/* header */
.header {
    grid-area: header;
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    row-gap: 20px;
    grid-template-areas:
        'top top'
        'bottom bottom';
    background-color: red;
}

/* header - top */
.top-header {
    grid-area: top;
    display: grid;
    grid-template-areas:
        'top-left top-left top-left top-left top-right';
}

.top-left {
    grid-area: top-left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-header input {
    border: 1px solid #000;
    width: 90%;
    height: 60%;
    padding-left: 15px;
    border-radius: 15px;
}

.top-right {
    grid-area: top-right;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.small-name {
    font-size: 16px;
}

/* header - bottom */
.bottom-header {
    grid-area: bottom;
    display: grid;
    grid-template-areas:
        'bottom-left bottom-left bottom-left bottom-right';
}

.bottom-left {
    grid-area: bottom-left;
    display: flex;
    gap: 10px;
    align-items: center;
}

.big-pic {
    height: 3.5rem;
}

.bottom-left .profile-span {
    font-size: 14px;
    font-weight: bold;
}

.bottom-left .big-name {
    font-size: 24px;
}

.bottom-right {
    grid-area: bottom-right;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.bottom-right button {
    padding: 8px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

/* main content */
.main-content {
    grid-area: main-content;
    padding: 20px;
    background-color: purple;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        'projects announcements'
        'projects trending';
    gap: 15px;
}

/* main content - projects */
.projects {
    grid-area: projects;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.project-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border: 1px solid black;
}

.project-icons {
    display: flex;
    align-self: flex-end;
    gap: 20px;
}

.project-heading {
    font-size: 18px;
}

.project-p {
    font-size: 14px;
}

/* main content - announcements */

.announcements {
    grid-area: announcements;
}

.announcements-container{
    border: 1px solid black;
}

.announ-heading {
    font-size: 16px;
}

.announ-p {
    font-size: 12px;
}

/* main content - trending */

.trending {
    grid-area: trending;
}

.trending-container{
    border: 1px solid black;
}
.username {
    font-size: 18px;
}

.user-project {
    font-size: 14px;
}

.main-heading {
    font-size: 22px;
}

/* sidebar */
.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: yellow;
}