/* font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* global settings */
:root {
    --color-pattern1: #cbd5e1;
    --color-pattern2: #334155;
    --color-pattern3: #94a3b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.icon {
    height: 1.5rem;
}

.dash-icon {
    height: 3rem; 
}

.profile-pic {
    height: 2.5rem;
}

/* project container */
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main-content';
}

/* header */
.header {
    grid-area: header;
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    row-gap: 20px;
    grid-template-areas:
        'top top'
        'bottom bottom';
    background-color: var(--color-pattern1);
    box-shadow: 0px 1px 5px var(--color-pattern3);
}

/* header - top */
.top-header {
    grid-area: top;
    display: grid;
    grid-template-areas:
        'top-left top-left top-left top-left top-right';
}

.top-left {
    grid-area: top-left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-header input {
    border: none;
    width: 90%;
    height: 60%;
    padding-left: 15px;
    border-radius: 15px;
}

.top-header input:focus {
    outline: none;
}

.top-right {
    grid-area: top-right;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.small-name {
    font-size: 16px;
}

/* header - bottom */
.bottom-header {
    grid-area: bottom;
    display: grid;
    grid-template-areas:
        'bottom-left bottom-left bottom-left bottom-right';
}

.bottom-left {
    grid-area: bottom-left;
    display: flex;
    gap: 10px;
    align-items: center;
}

.big-pic {
    height: 3.5rem;
}

.bottom-left .profile-span {
    font-size: 14px;
    font-weight: bold;
}

.bottom-left .big-name {
    font-size: 24px;
}

.bottom-right {
    grid-area: bottom-right;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.bottom-right button {
    font-size: 16px;
    padding: 6px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--color-pattern2);
    color: var(--color-pattern1);
}

.small-name,
.greetings,
.big-name,
input {
    color: var(--color-pattern2);
}

/* main content */
.main-content {
    grid-area: main-content;
    padding: 20px;
    background-color: var(--color-pattern2);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    grid-template-areas:
        'projects announcements'
        'projects trending';
    z-index: -1;
}

/* main content - projects */
.projects {
    grid-area: projects;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
    background-color: var(--color-pattern1);
}

.project-icons {
    display: flex;
    align-self: flex-end;
    gap: 20px;
}

.project-heading {
    font-size: 18px;
}

.project-p {
    font-size: 14px;
}

.project-heading,
.project-p {
    color: var(--color-pattern2);
}

/* main content - side content */
/* .side-content {
    grid-area: side-content;
    display: grid;
    row-gap: 20px;
} */

.project-box,
.side-box {
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px var(--color-pattern1);
    box-shadow: 0 0 5px var(--color-pattern1);
}

.side-box {
    padding: 20px;
    display: grid;
    row-gap: 20px;
    background-color: var(--color-pattern1);
    color: var(--color-pattern2);
}

/* main content - announcements */
.announcements {
    grid-area: announcements;
}

.announcements hr {
    border: 1px solid var(--color-pattern2);
}

.announ-heading {
    font-size: 16px;
}

.announ-p {
    font-size: 12px;
}

/* main content - trending */
.trending {
    grid-area: trending;
}

.profile-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.username {
    font-size: 18px;
}

.user-project {
    font-size: 14px;
}

.main-heading {
    font-size: 22px;
    margin-bottom: 7px;
    color: var(--color-pattern1);
}

/* sidebar */
.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: var(--color-pattern3);
}

.dash-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    color: var(--color-pattern2);
}

.sidebar-options {
    display: grid;
    row-gap: 20px;
    padding: 10px;
}

.sidebar-options li {
    list-style: none;
    width: fit-content;
}

.sidebar-options li:nth-child(6) {
    margin-bottom: 2.5rem;
}

.sidebar-options a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-pattern2);
}